# Ignore IDE files:
.idea/
*.iml

*.class
.DS_Store
target/
.classpath
.project
.pydevproject
.settings

# Package Files #
*.war
*.ear

# pyhon 
*.pyc

# Acceptance tests logs and reports
testreport/
logs/

#IDE
*.iml
.idea/
