<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
              http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="no">

    <!-- RESOURCES -->

    <bean id="applicationInstanceResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.ApplicationInstanceResourceImpl">
        <property name="validator" ref="applicationInstanceResourceValidator"/>
        <property name="taskManager" ref="taskManager"/>
        <property name="environmentInstanceAsyncManager" ref="environmentInstanceAsyncManager"/>
        <property name="environmentInstanceManager" ref="environmentInstanceManager"/>
        <property name="applicationInstanceAsyncManager" ref="applicationInstanceAsyncManager"/>
        <property name="applicationInstanceManager" ref="applicationInstanceManager"/>

    </bean>

    <bean id="environmentInstanceResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.EnvironmentInstanceResourceImpl">
        <property name="validator" ref="environmentInstanceResourceValidator"/>
        <property name="taskManager" ref="taskManager"/>
        <property name="environmentInstanceAsyncManager" ref="environmentInstanceAsyncManager"/>
        <property name="environmentInstanceManager" ref="environmentInstanceManager"/>
        <!-- <property name="environmentTypeDao" ref="environmentTypeDao"/> -->
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
        <!-- <property name="productReleaseManager" ref="productReleaseManager"/> -->
    </bean>

    <bean id="environmentResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.EnvironmentResourceImpl">
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
        <property name="environmentResourceValidator" ref="environmentResourceValidator"/>
        <property name="environmentManager" ref="environmentManager"/>
    </bean>

    <bean id="abstractEnvironmentResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.AbstractEnvironmentResourceImpl">

        <property name="environmentResourceValidator" ref="environmentResourceValidator"/>
        <property name="environmentManager" ref="environmentManager"/>
    </bean>

    <bean id="productReleaseResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.ProductReleaseResourceImpl">
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
    </bean>

    <bean id="tierResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.TierResourceImpl">
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
        <property name="tierResourceValidator" ref="tierResourceValidator"/>
        <property name="environmentManager" ref="environmentManager"/>
        <property name="tierManager" ref="tierManager"/>
        <property name="productReleaseDao" ref="productReleaseDao"/>
    </bean>

    <bean id="abstractTierResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.AbstractTierResourceImpl">
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
        <property name="tierResourceValidator" ref="tierResourceValidator"/>
        <property name="environmentManager" ref="environmentManager"/>
        <property name="tierManager" ref="tierManager"/>
        <property name="productReleaseDao" ref="productReleaseDao"/>
    </bean>

    <bean id="tierInstanceResource" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.rest.resources.TierInstanceResourceImpl">
        <property name="validatorTierInstance" ref="tierInstanceResourceValidator"/>
        <property name="systemPropertiesProvider" ref="systemPropertiesProvider"/>
        <property name="environmentInstanceManager" ref="environmentInstanceManager"/>
        <property name="tierInstanceAsyncManager" ref="tierInstanceAsyncManager"/>
        <property name="tierManager" ref="tierManager"/>
        <property name="taskManager" ref="taskManager"/>
        <property name="tierInstanceManager" ref="tierInstanceManager"/>
        <!-- <property name="tierTypeDao" ref="tierTypeDao"/> -->
    </bean>
    <!-- <bean id="tierResource" lazy-init="true" class="com.telefonica.euro_iaas.paasmanager.rest.resources.TierResourceImpl">
		</bean> -->



	<!-- =========== == VALIDATORS == ================ -->

	<bean id="applicationInstanceResourceValidator" lazy-init="true"
		class="com.telefonica.euro_iaas.paasmanager.rest.validation.ApplicationInstanceResourceValidatorImpl">
		<property name="applicationInstanceManager" ref="applicationInstanceManager" />
		<property name="environmentInstanceManager" ref="environmentInstanceManager" />
	</bean>
	<bean id="environmentInstanceResourceValidator" lazy-init="true"
		class="com.telefonica.euro_iaas.paasmanager.rest.validation.EnvironmentInstanceResourceValidatorImpl">
		<property name="environmentInstanceDao" ref="environmentInstanceDao" />
		<property name="quotaClient" ref="quotaClient" />
		<property name="tierResourceValidator" ref="tierResourceValidator" />
		<property name="resourceValidator" ref="resourceValidator" />

	</bean>

	<bean id="environmentResourceValidator" lazy-init="true"
		class="com.telefonica.euro_iaas.paasmanager.rest.validation.EnvironmentResourceValidatorImpl">
		<property name="tierResourceValidator" ref="tierResourceValidator" />
		<property name="environmentManager" ref="environmentManager" />
		<property name="environmentInstanceManager" ref="environmentInstanceManager" />
		<property name="resourceValidator" ref="resourceValidator" />

	</bean>

	<bean id="tierInstanceResourceValidator" lazy-init="true"
		class="com.telefonica.euro_iaas.paasmanager.rest.validation.TierInstanceResourceValidatorImpl">

	</bean>

	<bean id="tierResourceValidator" lazy-init="true"
		class="com.telefonica.euro_iaas.paasmanager.rest.validation.TierResourceValidatorImpl">
		<property name="tierManager" ref="tierManager" />
		<property name="environmentInstanceManager" ref="environmentInstanceManager" />
		<property name="environmentManager" ref="environmentManager" />
		<property name="quotaClient" ref="quotaClient" />
		<property name="resourceValidator" ref="resourceValidator" />



	</bean>

	<bean id="resourceValidator" lazy-init="true"
		class="com.telefonica.euro_iaas.paasmanager.rest.validation.ResourceValidatorImpl">

	</bean>

</beans>
