<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
        default-autowire="no">


    <bean id="osDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.OSDaoJpaImpl"/>
    <bean id="productReleaseDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.ProductReleaseDaoJpaImpl"/>
    <bean id="applicationReleaseDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.ApplicationReleaseDaoJpaImpl"/>
    <bean id="applicationInstanceDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.ApplicationInstanceDaoJpaImpl"/>
    <bean id="artifactDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.ArtifactDaoJpaImpl"/>
    <bean id="tierDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.TierDaoJpaImpl"/>
    <bean id="environmentDao" lazy-init="false"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.EnvironmentDaoJpaImpl"/>
    <bean id="tierInstanceDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.TierInstanceDaoJpaImpl"/>
    <bean id="productInstanceDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.ProductInstanceDaoJpaImpl"/>
    <bean id="taskDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.TaskDaoJpaImpl"/>
    <bean id="environmentInstanceDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.EnvironmentInstanceDaoJpaImpl"/>
    <bean id="templateDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.TemplateDaoJpaImpl"/>
    <bean id="ruleDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.RuleDaoJpaImpl"/>
    <bean id="networkDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.NetworkDaoJpaImpl"/>
    <bean id="networkInstanceDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.NetworkInstanceDaoJpaImpl"/>
    <bean id="subNetworkDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.SubNetworkDaoJpaImpl"/>
    <bean id="subNetworkInstanceDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.SubNetworkInstanceDaoJpaImpl"/>
    <bean id="routerDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.RouterDaoJpaImpl"/>
    <bean id="securityGroupDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.SecurityGroupDaoJpaImpl"/>
    <bean id="attributeDao" lazy-init="true"
          class="com.telefonica.euro_iaas.paasmanager.dao.impl.AttributeDaoJpaImpl"/>

</beans>
